.body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.header {
    display: inline-block;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    margin-left: 5%;
    background-color: #fff;
}

.logo {
    display: inline-block;
    margin: 0px auto;
    margin-left: 2%;
    font-size: 250%;

}


.nav {
    display: inline-block;
    width: 86%;
}

.nav_url {
    display: inline;
    font-size: xx-large;
    width: 100%;
    text-align: center;
    margin-left: 5%;
}


.button {
    display: inline-block;
    width: 15%;
    text-align: center;
    margin-left: 15%;
    cursor: pointer;
}

.blog_info {
    width: 75%;
    margin-left: 8%;
}

.blog_text {
    width: 100%;

}


.text_h1 {
    width: 100%;
    margin: 0 0px;
    text-align: center;
    font-size: 56px;

}


.midle_text {
    font-size: x-large;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.button_width_us {
    width: 80%;
    margin-left: 37%;
}

.button_width_us_parametrs {
    width: 30%;
    margin: 10px auto;
}

.cont_hed {
    width: 100%;
    margin-top: 50px;
}

.all_images {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.blog_images {
    display: flex;
    justify-content: center;
}



.image_body_1 {
    display: flex;
    justify-content: space-between;

}

.image_body_1_1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
}

.image_body_2 {
    display: flex;
    margin-left: 10px;
    flex-direction: column;

}

.image_body_3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: auto;
}
.fon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.our_service{
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}
.header_service{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px;
}
.harc{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
}
.slaq{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    cursor: pointer;

}
.col3{
    display: flex;
    width: 100%;
    justify-content: center;
}
.table3{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    width: 400px;
    margin: 20px;
    padding: 20px;
    font-size: xx-large;
}
.null_row{
    display: flex;
    height: 40px;
}
.tlog{
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(182, 71, 47, 0.1);
}